@using WebNangCao.Models
@model IEnumerable<tblBook>
@{ ViewBag.Title = "Home"; }


@{ 
    IEnumerable<tblBook> listBookKyNang = ViewBag.ListBookKyNang as IEnumerable<tblBook>;
    IEnumerable<tblBook> listBookCS = ViewBag.ListBookCS as IEnumerable<tblBook>;
    IEnumerable<tblBook> listBookCongNghiep = ViewBag.ListBookCongNghiep as IEnumerable<tblBook>;
    IEnumerable<tblBook> listBookTieuThuyet = ViewBag.ListBookTieuThuyet as IEnumerable<tblBook>;
    IEnumerable<tblBook> listBookKH = ViewBag.ListBookKH as IEnumerable<tblBook>;
    IEnumerable<tblBook> listBookKinhDoanh = ViewBag.ListBookKinhDoanh as IEnumerable<tblBook>;

}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- MAIN -->
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>Home</title>
</head>
<body style="background:#fcfaf6 !important">
    <br />
    <div class="row">
        <div class="col">
            <div class="card bg-dark">
                <div id="carouselExampleCaptions" class="carousel slide" data-interval="2000" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img style="width:100%; height:393px; object-fit: cover;" src="https://images.pexels.com/photos/247899/pexels-photo-247899.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">

                                <p>
                                    "When in doubt, go to the library."
                                </p>
                                <h6 style="text-align: unset; font-style: italic;">Ron Weasley</h6>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img style="width:100%; height:393px; object-fit: cover;" src="https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">

                                <p>"Nothing is more impotent than an unread library."</p>
                                <h6 style="text-align: unset; font-style: italic;">John Waters</h6>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img style="width:100%; height:393px; object-fit: cover;" src="https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">

                                <p>"Overall, the library held a hushed exultation, as though the cherished volumes were all singing soundlessly within their covers."</p>
                                <h6 style="text-align: unset; font-style: italic;">Diana Gabaldon</h6>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="block__book">
            <h3 class="block__book-title">
                <span>Kỹ năng sống</span>
            </h3>
            @Html.Partial("~/Views/TblBooks/PartialSanPham.cshtml", listBookKyNang)
        </div>
    </div>

    <div class="container">
        <div class="block__book">
            <h3 class="block__book-title">
                <span>Cách mạng công nghiệp 4.0</span>
            </h3>
            @Html.Partial("~/Views/TblBooks/PartialSanPham.cshtml", listBookCongNghiep)
        </div>
    </div>
    <div class="container">
        <div class="block__book">
            <h3 class="block__book-title">
                <span>Tiểu thuyết</span>
            </h3>
            @Html.Partial("~/Views/TblBooks/PartialSanPham.cshtml", listBookTieuThuyet)
        </div>
    </div>
    <div class="container">
        <div class="block__book">
            <h3 class="block__book-title">
                <span>Khoa học</span>
            </h3>
            @Html.Partial("~/Views/TblBooks/PartialSanPham.cshtml", listBookKH)
        </div>
    </div>
    <div class="container">
        <div class="block__book">
            <h3 class="block__book-title">
                <span>Kinh doanh</span>
            </h3>
            @Html.Partial("~/Views/TblBooks/PartialSanPham.cshtml", listBookKinhDoanh)
        </div>
    </div>
    <div class="container">
        <div class="block__book">
            <h3 class="block__book-title">
                <span>Cuộc sống</span>
            </h3>
            @Html.Partial("~/Views/TblBooks/PartialSanPham.cshtml", listBookCS)
        </div>
    </div>
</body>
</html>





